body{
    margin:0;
}
 #content, #heading {
        color: #F3F9D2;
        background-color: indigo;
        text-align: center;
        
      }
#content{
    background-image: url("restaurant-meal-thinkstock-promo.png");
        background-position: center;
        background-size: cover;
       overflow: hidden;
        height: 90vh;
        margin: 0;
}

/* nav bar styling */
#nav{
    background-color: midnightblue;
    margin: 0;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    justify-items: center;
}
.Header{
    grid-column: 1;
}
#heading ul{
    grid-column: 3;
        display: flex;
        list-style-type: none;
        /* justify-content: space-around;
        
        align-items: center; */

    }
li{
    
    padding: 1rem;
}

.active{
    color:greenyellow;
    font-size: 1.25rem;
}
/* homepage */
.contentBody{
    background-color: rgba(73, 69, 77, .8);
    display: inline-block;
    padding: 2rem;
    height: 50vh;
    
}

/* menu */
.menu{
   
}